html, body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
}
hr{
  border: 1px;
  display:block;
  opacity: 1;
  width: 12%;
  background-color:#000;
  height: 1px;
}
/* Particles JS Section */
.particles{
  position: relative;
}
#particles-js{
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.content{
  position: relative;
}
.resi-heading{
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resi-heading h1{
  letter-spacing: 4px;
  margin: 0;
}

/* Menu section */
.close-icon{
  font-size: 250%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
}
.open-icon{
  font-size: 250%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
}
.vertical-line{
  width: 60vw;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-right: 260px solid #232833;
  height: 102.2%;
  animation-name: line-slide-1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes line-slide-1 {
0%   {right:140%;}
100% {right:0;}
}
.vertical-line2{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 16.36rem solid #232833;
  height: 102.2%;
  animation-name: line-slide-2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes line-slide-2 {
0%   {left:140%;}
100% {left:0;}
}
/* Carousel section */
.carousel-content{
  margin: 2% 0;
}
.carousel-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 9  0vh;
}
.carousel{
  position: relative;
  margin: 0;
  width: 70%;
  height: 70vh;
}
.carousel-text{
  text-align: center;
  margin: 0;
}
.carousel-text h2{
  margin: 30% 0 0 0;
  padding: 0;
}
.carousel-text h5{
  margin: 0 0 15% 0;
  padding: 0;
}
.carousel-text h5 i{
  font-size: 120%;
}
.slick-arrow, .slick-next, .slick-prev{
  transition: 0.4s;
  color: #fff;
  height: 40px;
  width: 40px;
  opacity: 0.3;
}
.slick-next::before, .slick-prev::before{
  color: #fff;
  height: 40px;
  width: 40px;
  opacity: 0.2;
}
.slick-arrow:hover{
  opacity: 1;
  height: 45px;
  width: 45px;
}
.slick-next{
  right: -50px;
}
.slick-prev{
  left: -50px;
}
.image{
  position: relative;
}
.image img{
  height: 100%;
  padding: 0 8%;
}
.image img:hover{
  cursor: grab;
}
.image img:active{
  cursor: grabbing;
}
.image-text{
  color: #fff;
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer span{
  margin: 5% 0;
}
.fas{
  font-size: 200%;
  color: black;
}
