html, body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}
.content{
  position: relative;
}

/* Heading Section */
.heading{
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading h1{
  position: relative;
  text-align: center;
  padding: 5px;
  letter-spacing: 5px;
}
.heading h1::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.heading h1::after{
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

/* Menu section */
.close-icon{
  font-size: 180%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.close-icon:hover{
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.open-icon{
  font-size: 180%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.open-icon:hover{
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Carousel section */
.carousel-content{
  margin: 2% auto;
  /* width: 70%; */
}
.carousel-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel{
  visibility: hidden;
  position: relative;
  margin: 0;
  width: 70%;
}
.carousel-text{
  text-align: center;
}
.slide{
  height: 70vh;
}
.slick-arrow, .slick-next, .slick-prev{
  transition: 0.4s;
  color: #000;
  height: 40px;
  width: 40px;
  opacity: 0.3;
}
.slick-next::before, .slick-prev::before{
  color: #000;
  height: 40px;
  width: 40px;
  opacity: 0.2;
}
.slick-arrow:hover{
  opacity: 1;
  height: 45px;
  width: 45px;
}
.slick-next{
  right: -50px;
}
.slick-prev{
  left: -50px;
}
.image{
  position: relative;
  height: 100%;
}
.image img{
  height: 100%;
}
.image img:hover{
  cursor: grab;
}
.image img:active{
  cursor: grabbing;
}

.fas{
  font-size: 120%;
  color: black;
}
