body{
  background-color: #e9ebf0;
}
.content{
  position: relative;
}
.projects-heading{
  position: relative;
}
.heading{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.heading h1{
  position: relative;
  padding: 2% 0;
  text-align: center;
  letter-spacing: 5px;
}
.heading h1::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.heading h1::after{
  bottom: 0;
}
.overlay p{
  font-size: 150%;
  padding-left: 4%;
  padding-top: 2%;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform:translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
a{
  height: 100%;
  width: 100%;
  text-decoration: none;
}

/* Menu section */
.close-icon{
  font-size: 180%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -o-transition: .4s cubic-bezier(.75,-0.5,.25,1.5);
  -moz-transition: .4s cubic-bezier(.75,-0.5,.25,1.5);
  -webkit-transition: .4s cubic-bezier(.75,-0.5,.25,1.5);
  transition: .4s cubic-bezier(.75,-0.5,.25,1.5);
}
.close-icon:hover{
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.open-icon{
  position: absolute;
  cursor: pointer;
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
	transform: scale(1);
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.open-icon:hover{
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Projects Section */
.project-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.project-column{
  height: 50%;
}
.project-inner{
  display: flex;
}
.project-description{
  text-align: center;
}
.project-description p{
  margin: 0 auto;
}
.project-item{
  width: 100%;
  height: 50%;
  position: relative;
  opacity: 1;
  background-color: gray;
}
.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #eeeeee;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.project-item:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 0.7;
}
.image {
  display: block;
  width: 100%;
  height: 100%;
}

/* Animated Read More Button */
.read-more {
  margin: 5% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0;
}
.the-arrow {
  width: 1px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}
.the-arrow.-right {
  top: 1px;
}
.the-arrow.-right > .shaft {
  width: 1px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #4c4c4c;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #4c4c4c;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  transform-origin: top right;
}
.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #4c4c4c;
  font-size: 1em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  transform: translateX(17px);
  transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}

/* Back To Top Arrow Section */


/* Responsive Section */
@media screen and (min-width: 1200px) {
  /* Heading section */
  .projects-heading{
    padding-top: 2.6rem;
  }
  .heading h1{
    font-size: 2.4rem;
  }

  /* Menu Icon Section */
  .open-icon{
    font-size: 180%;
    right: 3rem;
    top: 3rem;
  }
  .close-icon{
    font-size: 180%;
    right: 3rem;
    top: 3rem;
  }

  /* Projects Section */
  .project-container{
    margin-top: 5%;
  }
  .project-column{
    width: 80%;
  }
  .project-inner{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
  }
  .project-description{
    width: 40%;
    height: 50%;
  }
  .project-description p{
    width: 80%;
  }
  .project-link{
    width: 40%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
  /* Heading section */
  .projects-heading{
    padding-top: 2.5rem;
  }
  .heading h1{
    font-size: 2.2rem;
  }

  /* Menu Icon Section */
  .open-icon{
    font-size: 180%;
    right: 2rem;
    top: 3rem;
  }
  .close-icon{
    font-size: 180%;
    right: 2rem;
    top: 3rem;
  }

  /* Projects Section */
  .project-container{
    margin-top: 8%;
  }
  .project-column{
    width: 100%;
    padding: 0 2%;
  }
  .project-inner{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
  }
  .project-description{
    width: 50%;
    height: 50%;
  }
  .project-link{
    width: 45%;
  }
  .project-description p{
    width: 80%;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  /* Heading section */
  .projects-heading{
    padding-top: 2.5rem;
  }
  .heading h1{
    font-size: 2rem;
  }

  /* Menu Icon Section */
  .open-icon{
    font-size: 180%;
    right: 2rem;
    top: 3rem;
  }
  .close-icon{
    font-size: 180%;
    right: 2rem;
    top: 3rem;
  }

  /* Projects Section */
  .project-container{
    margin-top: 10%;
  }
  .project-column{
    width: 100%;
    padding: 0 2%;
  }
  .project-inner{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10% 0;
  }
  .project-description{
    width: 50%;
    height: 50%;
  }
  .project-description p{
    width: 90%;
    font-size: 0.8rem;
  }
  .project-description h3{
    font-size: 1rem;
  }
  .project-link{
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  /* Heading section */
  .projects-heading{
    padding-top: 2.5rem;
  }
  .heading h1{
    font-size: 1.6rem;
  }

  /* Menu Icon Section */
  .open-icon{
    font-size: 140%;
    right: 1.5rem;
    top: 3rem;
  }
  .close-icon{
    font-size: 140%;
    right: 1.5rem;
    top: 3rem;
  }

  /* Projects Section */
  .project-container{
    margin-top: 10%;
  }
  .project-column{
    width: 100%;
    padding: 0 2%;
  }
  .project-inner{
    justify-content: space-around;
    align-items: center;
    margin: 15% 0;
  }
  .inner-odd{
    flex-direction: column;
  }
  .inner-even{
    flex-direction: column-reverse;
  }
  .project-description{
    margin-top: 5%;
    width: 90%;
    height: 50%;
  }
  .project-description p{
    width: 90%;
    font-size: 0.8rem;
  }
  .project-description h3{
    font-size: 1rem;
  }
  .project-link{
    width: 90%;
  }
}
