.content{
  position: relative;
}
h1{
  margin: 0.4% 0 0.4% 0;
  text-align: center;
  letter-spacing: 5px;
}
hr{
  display:block;
  width: 40%;
  margin: 0 auto 0 auto;
}
.projects-heading{
  position: relative;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay p{
  font-size: 150%;
  padding-left: 4%;
  padding-top: 2%;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
a{
  height: 100%;
  width: 100%;
  text-decoration: none;
}

/* Menu section */
.menu{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.close-icon{
  z-index: 1;
  width: 2%;
  font-size: 250%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
}
.open-icon{
  z-index: 1;
  width: 2%;
  font-size: 250%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
}

.project-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* padding: 4%; */
  width: 100%;
  height: 50rem;
}
.project-column{
  width: 30%;
  height: 50%;
}
.project-outer{
  /* margin: 10%; */
}
.project-item{
  width: 100%;
  height: 50%;
  position: relative;
  opacity: 1;
  background-color: gray;
}
.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #eeeeee;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.project-item:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 0.7;
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow{
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7%;
}
.arrow img{
  position: absolute;
  right: 0;
  width: 100%;
  opacity: 0.6;
  margin-left: auto;
  transform: rotate(45deg);
}
