html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: 'Montserrat', sans-serif;
}

/* Menu Section */
nav{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.85;
  z-index: 1;
  top: -100vh;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  transition-timing-function: cubic-bezier(.57,0,.19,1);
}
nav ul{
  padding: 0;
}
nav ul li{
  list-style: none;
  margin: 40% 0;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  position: relative;
  letter-spacing: 2px;
}
nav ul li a:hover{
  color: #fff;
}
nav ul li a::after{
  content: "";
  height: 3px;
  width: 0;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}

/* Transparent Scrollbar */
::-webkit-scrollbar
{
	width: 0;
}
::-webkit-scrollbar-thumb
{
  background: transparent;
}


/* Footer */
.footer{
  position: relative;
  background: #000;
  font-family: 'Montserrat', sans-serif;
  color: #EDEDED;
}
.footer-outer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer ul{
  padding: 0;
}
footer ul li{
  list-style: none;
}

/* Responsive Section */
@media screen and (min-width: 1200px){
  /* Menu List Section */
  nav ul li a{
    font-size: 200%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
  /* Menu List Section */
  nav ul li a{
    font-size: 200%;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px){
  /* Menu List Section */
  nav ul li a{
    font-size: 150%;
  }
}
@media screen and (max-width: 500px){
  /* Menu List Section */
  nav ul li a{
    font-size: 140%;
  }
}
