body, html{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
  padding: 2%;
}
p{
  font-size: 150%;
  padding-left: 4%;
  padding-top: 2%;
  color: #444444;
}
a{
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.project-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4%;
  margin-top: 2%;
  width: 100%;
  height: 70vh;
}
.project-column{
  width: 25%;
}
.project-row-1{
}
.project-item{
  height: 21rem;
  position: relative;
  opacity: 0.9;
}
.arrow{
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
}
.arrow img{
  /* position: absolute; */
  right: 0;
  width: 80%;
  opacity: 0.6;
  margin-left: auto;
  transform: rotate(45deg);
}
.item-1{
background-color: #DEEDF0;
}
.item-2{
background-color: #E1E5EA;
}
.item-3{
background-color: #FCECDD;
}
.item-4{
background-color: #FEDDBE;
}
.item-5{
background-color: #A9F1DF;
}
.item-6{
background-color: #AAD8D3;
}
.item-7{
background-color: #F7DBF0;
}
.item-8{
background-color: #FBC7F7;
}
