body {
  background-color: #fff;
}

.page-content{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Particles JS Section */
#particles-js{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #232833;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Menu section */
.close-icon{
  z-index: 1;
  width: 2%;
  font-size: 200%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.close-icon:hover{
  -webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.open-icon{
  z-index: 1;
  width: 2%;
  font-size: 200%;
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  animation-name: menu-slide;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
  animation-delay: -0.2s;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  }
  .open-icon:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  }
@keyframes menu-slide {
0%   {right:-40%;}
100% {right:3rem;}
}
.open-active{
  animation-name: menu-no-slide;
}

/* Socials */
.socials{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 50%;
  top: 50%;
  transform: translateY(-60%);
  padding-right: 1.5%;
  right:0.8rem;
}
.social-outer{
  position: relative;
  height: 90%;
}
.social-mid{
  position: absolute;
}
.social-a{
  top: 25%;
}
.social-b{
  top: 50%;
}
.social-c{
  top: 75%;
}
.social-d{
  top: 100%;
}
.social-icons{
  position: relative;
  padding: 70% 0 70% 0;
}
.fab{
  font-size: 220%;
  margin: 1%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.fab:hover{
  -webkit-transform: scale(1.4);
	transform: scale(1.4);
}
.fa-twitter{
  right:-40rem;
  position: absolute;
  animation-name: social-a;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
.fa-google-plus{
  right:-40rem;
  top: 50%;
  position: absolute;
  animation-name: social-b;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.fa-facebook{
  right:-40rem;
  top: 75%;
  position: absolute;
  animation-name: social-c;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}
.fa-linkedin-in{
  right:-40rem;
  top: 100%;
  position: absolute;
  animation-name: social-d;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
}
@keyframes social-a{
0%   {right:-40rem;}
100% {right:0.8rem;}
}
@keyframes social-b{
0%   {right:-40rem;}
100% {right:0.8rem;}
}
@keyframes social-c{
0%   {right:-40rem;}
100% {right:0.8rem;}
}
@keyframes social-d{
0%   {right:-40rem;}
100% {right:0.8rem;}
}
.fa-twitter,.fa-google-plus,.fa-facebook,.fa-linkedin-in{
  transition: 0.4s;
  color: #fff;
}
.fa-twitter:hover{
  color: #1DA1F3;
}
.fa-google-plus:hover{
  color: #E5393F;
}
.fa-facebook:hover{
  color: #3B5998;
}
.fa-linkedin-in:hover{
  color: #0077B5;
}

/* Tag line section */
.tag-line{
  position: absolute;
  transform: translateX(50%);
  top: 0.8rem;
  color: #fff;
  animation-name: tag-slide;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  animation-delay: -1s;
}
@keyframes tag-slide {
0%   {right:-140%;}
100% {right: 50%;}
}
.tag-line h1{
  text-align: center;
  margin: 0;
  letter-spacing: 5px;
}
.tag-line hr{
  width: 60%;
  margin: 2.5% auto 2.5% auto;
  opacity: 0.85;
}
.tag-line p{
  text-align: center;
  font-size: 1.08rem;
  /* padding-top: 1%; */
}

/* Cover image section */
.cover-image{
  position: absolute;
  left: 1%;
  top: 55%;
  transform: translateY(-50%);
}
.cover img{
  position: relative;
  width: 60%;
  opacity: 1;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: cover-slide;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
  border-radius: 7px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
@keyframes cover-slide {
  0%   {left:-100%;}
  100% {left:1%;}
}
.cover img:hover{
  -webkit-transform: scale(1.02);
	transform: scale(1.02);
}
/* Firm logo section */
.logo{
  position: absolute;
  top: 0;
  left: 0.8rem;
  animation-name: logo-slide;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
}
@keyframes logo-slide {
  0%   {left:-100%;}
  100% {left:0.8rem;}
}
.logo-inner{
  position: relative;
  width: 10%;
}
.logo-inner img{
  width: 60%;
}
/* Page division with vertical line */
.vertical-line{
  z-index: -1;
  position: absolute;
  left: -200%;
  top: 50%;
  transform: translateY(-50%);
  border-left: 2000px solid #b1b4ae;
  height: 100vh;
  animation-name: line-slide;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
}

@keyframes line-slide {
0%   {left:-140%;}
100% {left:20%;}
}
.vertical-line-2{
  z-index: -1;
  position: absolute;
  right: -200%;
  top: 50%;
  transform: translateY(-50%);
  border-left: 9rem solid #b1b4ae;
  height: 100vh;
  animation-name: line-slide-2;
  animation-duration: 2.25s;
  animation-fill-mode: forwards;
}

@keyframes line-slide-2 {
0%   {right:-140%;}
100% {right:0;}
}

/* Firm Details Section */
.firm-details{
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details-column{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.detail-item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  margin: 20% 0;
  border: solid #fff;
  border-width: 0 0 1px 1px;
  text-align: center;
  color: #fff;
}
.detail-item h5{
  width: 70%;
}
.left-img{
    width: 10%;
    /* transform: rotate(90deg); */
    position: absolute;
    bottom: 0;
    left: 0;
}
.right-img{
  width: 10%;
  /* transform: rotate(90deg); */
  position: absolute;
  bottom: 0;
  left: -0.1%;
}

/* Footer Section */
.footer{
  /* height: 20vh; */
}
