html, body{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  /* background-image: url("https://images.alphacoders.com/435/435117.jpg"); */
  background-color: gray;
}

/*-------------------------------------------------------------------------------------------------------------------------
----------------------------------------------Complete Menu Related Stuff--------------------------------------------------
 --------------------------------------------------------------------------------------------------------------------------*/



.menu-container{
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}
.menu {
  position: absolute;
  right: 0;
  text-align: right;
  cursor: pointer;
  display: inline;
}
.menu-links{
  margin-bottom: 0;
  background-color: #000;
  opacity: 0.85;
  display: flex;
  list-style: none;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;

  clip-path: circle(100px at 110% -20%);
  -webkit-clip-path: circle(100px at 110% -20%);
  transition: all 0.75s ease-in-out;
  pointer-events: none;
}
.list-column{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 60%;
  align-items: center;
}

/* Menu Open Animation */
.menu-active{
  clip-path: circle(2500px at 110% -20%);
  -webkit-clip-path: circle(2500px at 110% -20%);
  pointer-events: all;
}
.menu-links li a{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 50px;
}
.menu-links li{
  opacity: 0;
}
.menu-links li:nth-child(1){
  transition: all 0.5s ease 0.3s;
}
.menu-links li:nth-child(2){
transition: all 0.5s ease 0.6s;
}
.menu-links li:nth-child(3){
transition: all 0.5s ease 0.9s;
}
li.fade{
  opacity: 1 !important;
}


/* Menu link underline animation */
.underline{
  position: relative;
}
.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height:3px;
  border-radius: 20px;
  background-color: #fff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* Menu Icon Animation Start */
svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
/* Menu Icon Animation End */


/* RSA Architects Heading */
.showcase{
  /* height: 100vh; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  width: 30%;
}
.heading{
  display: flex;
  justify-content: center;
  top: 0;
  padding-left: 2%;
  /* width: 30%; */
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
