html, body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: #b1b4ae;
}
hr{
  border: 1px;
  display:block;
  opacity: 1;
  width: 12%;
  background-color:#000;
  height: 1px;
}
.content{
  position: relative;
}
.resi-heading{
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resi-heading h1{
  letter-spacing: 4px;
  margin: 0;
}

/* Menu section */
.close-icon{
  z-index: 1;
  width: 2%;
  font-size: 250%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
}
.open-icon{
  z-index: 1;
  width: 2%;
  font-size: 250%;
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
}


.carousel-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel{
  margin: 3% 0 6% 0;
  width: 70%;
  height: 70vh;
}
.slick-arrow, .slick-next, .slick-prev{
  color: #000;
}
.slick-next::before, .slick-prev::before{
  color: #000;
}
.image img{
  height: 100%;
  padding: 0 8%;
}
.image img:hover{
  cursor: grab;
}
.image img:active{
  cursor: grabbing;
}
.footer span{
  margin: 5% 0;
}
